<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pronunciation Improvement App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="title">
        <h1>Pronunciation Improvement App</h1>
    </div>
    <div class="container">     
        <div class="dashboard">
            <a href="/audio_analysis" class="dashboard-item" style="background-color: #e88282;">Audio Analysis</a>
            <a href="/pronunciation_practice" class="dashboard-item" style="background-color: #62a5e7;">Pronunciation Practice</a>
            <a href="/interactive_learning" class="dashboard-item" style="background-color: #7fa87f;">Learning Tools</a>
            <a href="/pronounce_r" class="dashboard-item" style="background-color: #af99ff;">Pronounce "R"</a>
            <a href="/linguistic_insights" class="dashboard-item" style="background-color: #6fcdc5;">Linguistic Insights</a>
        </div>
    </div> 
</body>
</html>